header,
.project:not(:last-child) {
  border-bottom: 1px solid rgb(39, 30, 30);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #1b89bc;
  text-decoration: underline;
}

body {
  background-color: lightgrey;
}

header {
  background-color: maroon;
  color: black;
}

a {
  color: white;
}

h2 a {
  color: black;
}

h4 a {
  color: black;
}
